<nav>
    <div class="site-title">
        <a href="/">
            <h1>The Assassin's Creed</h1>
        </a>
        <p>A Fandom Blog</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
    </ul>
</nav>