<html lang="en">
<%- include("./partials/head.ejs") %>

    <body>
        <%- include("./partials/nav.ejs") %>

            <div class="about content">
                <h2>About Us</h2>
                <p>
                    The Assassin's Creed, often referred to as the Creed, was a code and guiding philosophy of the
                    Assassin Order upheld from the High Middle Ages until the modern era. It restricted unnecessary
                    slaughter of innocents, preserved the reputation of oneself and of the Order, and was meant to
                    create peace not only within the world, but within the individual.
                </p>
                <p>
                    The Creed began to take shape in 38 BCE when the Medjay Bayek of Siwa and Aya of Alexandria,
                    co-founders of the Hidden Ones–a predecessor to the Assassins Brotherhood–enforced a veil of secrecy
                    over their order. The Assassins had been handing the Creed down orally from generation to
                    generation, ensuring that its message was delivered to and upheld by every member of the Assassin
                    Order. Al Mualim, one of the Mentors of the Order, once remarked that "they are nothing if they do
                    not abide by the Assassin's Creed".
                </p>
                <p>
                    In the ancient Codex of Altaïr Ibn-La'Ahad, it was stated that the Creed cannot be killed, even if
                    all of its followers were. He went on to explain that the Creed was an idea, and even if all records
                    of it were destroyed, it could eventually be reinvented by another.
                </p>
            </div>

            <%- include("./partials/footer.ejs") %>
    </body>

</html>